{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

			<!-- start banner Area -->
			{% include 'blog/blog-home/blog-home-banner-area.html' %}
			<!-- End banner Area -->				  

			<!-- Start top-category-widget Area -->
			{% include 'blog/blog-home/blog-home-top-category-widget-area.html' %}
			<!-- End top-category-widget Area -->
			
			<!-- Start post-content Area -->
			{% include 'blog/blog-home/post-content-area/blog-home-post-content-area.html' %}
			<!-- End post-content Area -->

{% endblock %}
