{% load static %}
{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
            <script>
		        swal("{{ message|safe }}");
	        </script>
	    </div>
    {% endfor %}
{% endif %}

{% if form.errors %}
    <div class="alert alert-error">
        <h4>Please fix the following errors</h4>
        <ul>
            {% for field in form %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <li><a href="#id_{{ field.name }}" class="error">
                          <script>
			                swal("{{ error|escape }}");
		                  </script>
                        </a></li>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </ul>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}
    </div>
{% endif %}